.search-panel {
    grid-column: 1 / -1;

    display: flex;
    background-color: var(--color-widget);
    border: 1px solid var(--color-border);
    border-radius: 24px;
    overflow: hidden;

    margin-bottom: 10px;
}

.search-panel > input {
    flex-grow: 1;
    margin-left: 24px;
    font-size: 20px;
    color: var(--color-title)
}

.search-panel > button {
    width: 48px;
    padding-right: 10px;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search-panel > button > svg {
    width: 20px;
    height: 20px;
    transition: 200ms;
}

.search-panel > button:hover > svg {
    scale: 1.1;
}