#root {
    --color-title: #262C40;
    --color-text: #8189A3;
    --color-accent: #432EAB;
    --color-curtain: #bcc3d080;
    --color-shadow: #0000001A;
    --color-widget: #fff;
    --color-border: #D4DEFE;
}